#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ***** Global spinner style ***** */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.521);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.spinner {
  width: 55px;
  height: 55px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

.spinner-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* ######### Dot Spinner ########### */
@keyframes dotAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.dot-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-loading span {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #2782dd;
  margin: 0 0.5rem;
  animation: dotAnimation 1.5s infinite ease-in-out both;
}

.dot-loading span:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-loading span:nth-child(3) {
  animation-delay: 0.4s;
}

